node_modules/
.venv/
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
out/
coverage/
*.log
.DS_Store
backend/__pycache__/
backend/*.pyc
backend/venv/
build/
build/architecture-backend/Analysis-00.toc
build/architecture-backend/architecture-backend.pkg
build/architecture-backend/base_library.zip
build/architecture-backend/EXE-00.toc
build/architecture-backend/PKG-00.toc
build/architecture-backend/PYZ-00.pyz
build/architecture-backend/PYZ-00.toc
build/architecture-backend/warn-architecture-backend.txt
build/architecture-backend/xref-architecture-backend.html
build/architecture-backend/localpycs/pyimod01_archive.pyc
build/architecture-backend/localpycs/pyimod02_importers.pyc
build/architecture-backend/localpycs/pyimod03_ctypes.pyc
build/architecture-backend/localpycs/pyimod04_pywin32.pyc
build/architecture-backend/localpycs/struct.pyc
builds/resources/
builds/win-unpacked/
builds/architecture-desktop.exe
builds/linux-unpacked
builds/builder-debug.yml
builds/builder-effective-config.yaml
builds/latest-linux.yml
builds/architecture-desktop 0.1.0.exe
builds/architecture-desktop-0.1.0.AppImage
